---
layout: layouts/base.njk
title: Seite nicht gefunden
permalink: /404.html
---
<section class="section center">
  <div class="container">
    <h1>404</h1>
    <p>Diese Seite gibt es leider nicht.</p>
    <a class="button" href="/">Zurück zur Startseite</a>
  </div>
</section>
